{
  "extends": "@atomix/eslint-config-react",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "fetch": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "unicorn/filename-case": 0,
    "import/no-default-export": "off",
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/prop-types": 0
  }
}
